/* Universal styles */
body {
	background-color: black;
	text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1,h2 {
    color: white;
}

/* Header */

#header {
	color: white;
	font-size: 50px;
	text-align: center;
}

a[href="./index.html"] {
	color: aquamarine;
	font-size: 16px;
}

/* Main */

#camp-section h2 {
    font-weight: 300;
    font-size: 42px;
}

#camp-section p {
    
    font-size: 21px;
    color: gray;
}

img[src="./resources/images/phone.png"] {
    display: block;
    margin-top: 32px;
    margin: 24px auto 0 auto;
}

/* footer */

footer p {
    text-align: right;
    margin-right: 16px;
    color: gray;
}