/* Universal Style */

html {
	font-size: 22px;
}
body {
	background-color: black;
	font-family: Helvetica, Arial, sans-serif;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}

/* Header Nav Bar */
header {
	width: 100%;
}
#nav-bar {
	background-color: black;
	border-bottom: 1px solid seashell;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 3.136rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img[src="./images/img-tea-cozy-logo.png"] {
	height: 2.272rem;
	margin-left: 0.454rem;
}

.nav-list {
	display: flex;
}
.nav-list li {
	margin-right: 4.545rem;
	text-decoration: underline;
}

/* Header banner */

#banner {
	height: 31.818rem;
	width: 54.545rem;
	background-image: url(./images/img-mission-background.jpeg);
	margin: 3.2rem auto;
	display: flex;
	align-items: center;
}

.banner-text {
	background-color: black;
	width: 100%;
}
/* Main FeatureTea*/

#FeatureTea {
	width: 45.454rem;
	margin: auto;
	text-align: center;
}

.gallery {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.photo {
	width: 13.636rem;
	margin: 0 0.45rem 1.82rem 0.45rem;
}

.photo img {
	margin-bottom: 0.45rem;
}

.photo h4 {
	margin: 0;
}

/* Main Location*/

#locations {
	width: 54.545rem;
	height: 22.727rem;
	background-image: url(./images/img-locations-background.jpeg);
	margin: 0 auto;
	background-position: top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#locations h2 {
	margin: 0;
}

.area {
	width: 13.636rem;
	height: 13.636rem;
	background-color: black;
	opacity: 1;
	margin: 15px 20px;
}

#areas-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
